<!DOCTYPE html>
<html lang=en>
<head>
	<title>{{ page_title }}{%if page_title%}, {%endif%}Informatics Book List</title>
	<link rel="stylesheet" href="/media/assets/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/media/assets/css/blueprint/print.css" type="text/css" media="print"> 
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/media/assets/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<link rel="stylesheet" href="/media/assets/css/style.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://books.google.com/books/previewlib.js"></script>
</head>
<body>
<div class="container">
	<!-- Masthead -->
	<div id="masthead" class="span-24">
		<a href="/" id="logo">
			UCIrvine | Department of Informatics
		</a>
		<h1>
			Informatics Booklist
		</h1>
	<!-- /Masthead --></div>
	<div class="container span-24 columns">
		<div id="left" class="span-6 colborder">
		<div class="left">
			<h2>Filters</h2>
			{% if category_types %}
			<ul>
			{% for ct in category_types %}
				<li>
					<h3>{{ct.description}}</h3>
						<ul>
							{% for c in ct.get_categories %}
								{% ifequal c.slug current_slug %}
									<li class="selected">
										{{c.name}}
									</li>
								{% endifequal %}
								{% ifnotequal c.slug current_slug %}
									<li>
										<a href="/{{c.slug}}/">
											{{c.name}}
										</a>
									</li>
								{% endifnotequal %}
							{% endfor %}
						</ul>
				</li>
			{% endfor %}
			</ul>
			{% endif %}
			<h2>Feedback</h2>
			<p id="improveformprompt">What can we improve?</p>
				<textarea id="feedbacktext" onfocus="javascript:if ($('#feedbacktext').text()==$('#feedbacktext').val()) {$('#feedbacktext').text('');}; $('#sendbutton').show(); this.style.color='#333';">Tell us here.</textarea>
				<button id="sendbutton" onclick="javascript:$.post('/feedback/',{text: $('#feedbacktext').val()}, function(data){$('#feedbacktext').val(''); $('#improveformprompt').text('Thanks! Anything else?'); $('#feedbacktext').text('Feel free to add more, here.'); $('#sendbutton').hide()});">Send Feedback</button>
		</div>
		<!-- /left --></div>
		
		<div id="right" class="span-17 last">
			<h2>Books</h2>
			<div class="container">
				<div class="span-8 append-1">
					{% for book in book_list %}
						{% if not forloop.counter|divisibleby:2 %}
							<div class="book span-8">
								<div class="cover span-3">
									<a href="{{ book.url }}">
										<img src="/media/covers/{{ book.cover_image }}" alt="{{ book.title }}" title="{{ book.title }}" />
									</a>
									<script type="text/javascript">
										GBS_insertPreviewButtonPopup("{{ book.gid }}");
									</script>
								</div>
								<div class="title span-5 last">
									<h3><a href="{{ book.url }}">{{ book.title }}</a></h3>
									<label>{{ book.authors }}</label>
									{% with book.get_comments as comments %}
									{% for c in comments %}
										<p><label><a href="#">{{ c.user.get_full_name }}</a></label>:&nbsp;"{{ c.comment }}"</p>
									{% endfor %}
									{% endwith %}									
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="span-8 last">
					{% for book in book_list %}
						{% if forloop.counter|divisibleby:2 %}
							<div class="book span-8">
								<div class="cover span-3">
									<a href="{{ book.url }}">
										<img src="/media/covers/{{ book.cover_image }}" alt="{{ book.title }}" title="{{ book.title }}" />
									</a>
									<script type="text/javascript">
										GBS_insertPreviewButtonPopup("{{ book.gid }}");
									</script>
								</div>
								<div class="title span-5 last">
									<h3><a href="{{ book.url }}">{{ book.title }}</a></h3>
									<label>{{ book.authors }}</label>
									{% with book.get_comments as comments %}
									{% for c in comments %}
										<p><label><a href="#">{{ c.user.get_full_name }}</a></label>:&nbsp;"{{ c.comment }}"</p>
									{% endfor %}
									{% endwith %}									
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		<!-- /right --></div>
	<!-- /columns --></div>
	<div id="footer" class="span-24">
		<p>Copyright &copy; 2012 University of California, Irvine</p>
		<p>Donald Bren School of Information and Computer Science</p>
		<p>Department of Informatics</p>
		<p>Designed and Developed By: Sam Kaufman & Team Tremendous</p>
	<!-- /footer --></div>
</div>
<script type="text/javascript" src="/media/assets/js/booklist.js"></script>
</body>
</html>