body {
	background: url('../images/bg.png') #efefef repeat-x;
}

#header {
	border-color: #ccc;
	border-style: solid;
}

#header {
	height:120px;
	position: relative;
	border-bottom-width:1px
}

#header p {
	width:550px;
	line-height: 120px;
	font-family: serif;
	font-weight: 100;
	font-size: 2.5em;
	font-style: italic;
	text-align: center;
	line-height: 1em;
	position: absolute;
	top:30px; right:25px;
	color:#ccc;
	text-shadow: 1px 1px 1px #999;
}

a#logo {
	display: block;
	height:45px;
	width:274px;
	margin: 37.5px auto auto 15px;
	text-indent: -9999em;
	background:url('../images/uci-logo.png') no-repeat;
}

#search-box {
	position:absolute;
	right:25px;
	top:30px;
	height: 30px;
	border:1px solid #ddd;
	font-style: italic;
	font-size: 1.5em;
	padding:5px 10px;
	color:#ccc;
	font-weight: normal;
}

#site-title {
	text-align: center;
}

h1,h2,h3,h4,h5,h6 {
	font-family:"Helvetica", "Lucida Sans";	
	color:#284378;
	font-weight: 100;
	letter-spacing: -.05em;
}

h1, h2 {
	text-shadow: 1px 1px 2px #ccc;
}

h3 a {
	color:inherit;
	text-decoration: none;
}

.book-description h3 {
	margin-bottom: 0.5em;
}

h3 small {
	color:#666;
	font-size:0.6em;
	font-weight: bold;
}

a:hover img {
	padding-bottom:3px;
	border-bottom:3px solid #ccc;
}

#site-title h1 {
	margin-top:25px;
	padding-bottom:25px;
	border-bottom:1px solid #ccc;
}
#site-title p {
	font-size: 3em;
}

.submission-confirmation {
	height: 3em;
	margin-bottom:25px;
	text-align: center;
	background: #BEEB9F;
	border:1px solid #79BD8F;
}

.submission-confirmation p {
	line-height: 3em;
	color:#457339;
}

.flash {
	display: none;
}

#column-container {
	overflow: hidden;
	position: relative;
}

#left {
	position: relative;
	margin-bottom:-2000px;
	padding-bottom:2000px;
}

#filters-list, #filters-list ul	 {
	list-style: none;
	margin-bottom:25px;
}

h3 {
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
}

#filters-list li {
	margin:.25em auto;
}

#filters-list li a {
	padding:6px;
	display: block;
	color: #367ba6;
}

#filters-list li a:hover {
	background: #ddd;
}
.book {
	padding-bottom:45px;
}
.book .book-image {
	float: left;
}

.book .book-image img {
	width:60px;
}
.book .book-description {
	margin-left:70px;
}
.book-description p, .book-description label, .book-description li {
	margin:0; padding:0;
	color:#555;
}
.book-description label a{
	color:#284378;
}
.book-description li {
	text-indent: -2em;
	margin-left:2em;
	font-style: italic;
}
.book-description li label {
	text-decoration: underline;
	font-style: normal;
	
}
.book .book-description ul {
	list-style: none;
	margin:0;
	padding:0;
}

#feedback-box {
	width:75%;
	height:3em;
	color:#999;
	border:1px solid #ccc;
	margin-left:15px;
}

#feedback-form input {
	margin-left:15px;
}

#footer {
	border-top:1px solid #ccc;
	padding:15px;
	text-align: center;
}

#footer p {
	font-size:0.9em;
	color:#666;
	margin:0;padding:0;
}